.navbar {
	box-sizing: border-box;
	position: fixed;
	will-change: scroll-position;
	display: flex;
	flex-direction: row;
	/*flex-wrap: nowrap;*/
	justify-content: space-between;
	align-items: center;
	max-height: 4rem;
	padding-left: 15dvw;
	padding-right: 15dvw;
	width: 100dvw;
	height: 4rem;
	/*background: linear-gradient(
			rgba(var(--accent-dark), 11%),
			rgba(var(--accent-dark), 22%)
	);*/
	backdrop-filter: blur(.5rem);
	-webkit-backdrop-filter: blur(.5rem);
	/*border-bottom: .1rem solid rgba(var(--accent), 66%);*/
	z-index: 100;

	@media (max-device-width: 650px) {
		padding-left: 1dvw;
		padding-right: 1dvw;
	}
}
.navbar * {
	max-height: 4rem;
	max-width: 50dvw;
	@media (max-device-width: 650px) {
	/*flex-basis: 100%;*/
	}
	text-decoration: none;
	color: white;
}
.navbar a:has(img) {
	display: contents;
}
.navbar h2 {
	padding-right: 1rem;
}