---
import Layout from '../layouts/Layout.astro';
import Text from "../components/Text.astro";
---

<Layout title="About | Kamela" description="About me /// Kamela">
	<main>
		<h1 class="header">About Me</h1>

		<Text id="about">
			<h2>Hello!
			</h2>
			<p>My name is <a href="/">Kamela</a> and I'm a 3D Generalist, VFX Generalist and Software Developer.

				I mainly develop in Java, Rust, Kotlin and HTML / CSS, and I mainly make Minecraft mods.

				Some of my projects can be found <a href="/projects">here</a>, and you can view all of my public projects on <a href="https://github.com/Theboiboi8" target="_blank">my GitHub page</a>.
			</p>
		</Text>
	</main>
</Layout>