---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Text from "../components/Text.astro";
---

<Layout title="About | Kamela" description="About me /// Kamela">
	<main>
		<h1 class="header">About Me</h1>
		<!--<div class="link-card-grid">
			<Card title="About Me" body="More info about me" href="/about"/>
			<Card title="Projects" body="More info about my projects" href="/projects"/>
		</div>-->
		<Text id="about">
			<h2>
				Hello!
			</h2>
			<p>My name is <a href="/">Kamela</a> and I'm a 3D Generalist, VFX Generalist and Software Developer.
				I mainly develop in Java, Rust, Kotlin and HTML / CSS, and I mainly make Minecraft mods.
				Some of my projects can be found <a href="/projects">here</a>, and you can view all of my public projects on <a href="https://github.com/Theboiboi8" target="_blank">my GitHub page</a>.
			</p>
		</Text>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 1rem 15dvw;
		width: 100dvw;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		box-sizing: border-box;
		@media (max-device-width: 650px) {
			padding: 0 5dvw;
		}
		min-height: 100dvh;
		min-width: 100dvw;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header {
		font-size: 5em;
		font-weight: 900;
		padding-top: 4rem;
	}
</style>
