---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CardGrid from "../components/CardGrid.astro";
---

<Layout title="Home | Kamela" description="3D Generalist and Software Developer /// Kamela">
	<main>
		<h1 class="header">Kamela</h1>
		<CardGrid>
			<Card title="About Me" body="More info about me" href="/about" target="_self"/>
			<Card title="Projects" body="More info about my projects" href="/projects" target="_self"/>
		</CardGrid>
	</main>
</Layout>