---
interface Props {
	title: string;
	body: string;
	href: string;
	target: string;
}

let { href, title, body, target } = Astro.props;

if (target == null) {
	target = "_self"
}
---

<li class="link-card">
	<a href={href} target={target}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	@import "../styles/Card.css";
</style>
