---
---

<div class="navbar">
	<a href="/">
		<img src="/favicon.svg" alt="Kamela Logo"/>
	</a>
	<h2><a href="https://github.com/Theboiboi8" target="_blank">GitHub</a></h2>
</div>
<style>
	@import "../styles/Navbar.css";
</style>
