---
interface Props {
	id: string;
}

const { id } = Astro.props;
---

<div id={id} class="text">
	<slot />
</div>
<style is:global>
	.text {
		box-sizing: border-box;
		width: 100%;
		max-width: 100dvw;
		@media (max-device-width: 650px) {
			padding-left: 1em;
			padding-right: 1em;
		}
	}
	.text p {

	}
	.text h2 {
		white-space: normal;
	}
</style>