---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import CardGrid from "../../components/CardGrid.astro";
---

<Layout title="Projects | Kamela" description="3D Generalist and Software Developer /// Kamela">
	<main>
		<h1 class="header">Projects</h1>

		<CardGrid>
			<Card title="Abyssal" body="My Minecraft mod Abyssal" href="/projects/abyssal" target="_self"/>
			<Card title="This Website" body="The very website you're currently on" href="https://github.com/tanchevk/kamela" target="_blank"/>
			<Card title="Kamela Bot" body="A general-purpose Discord utility bot written in Rust" href="/projects/kamela-bot" target="_self"/>
		</CardGrid>
	</main>
</Layout>