---
import Layout from '../../../layouts/Layout.astro';
import Text from "../../../components/Text.astro";
---

<Layout title="Home | Kamela" description="3D Generalist and Software Developer /// Kamela">
	<main>
		<h1 class="header">Projects</h1>

		<Text id="about">
			<h2>About
			</h2>
			<p>Kamela Bot is a general-purpose Discord utility bot written in Rust. As of right now, it's not nearly stable enough for production usage, i.e. in large/active Discord servers, so keep that in mind
			</p>
		</Text>
	</main>
</Layout>