---
import Navbar from "../components/Navbar.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 223, 255, 0;
		--accent-light: 245, 255, 177;
		--accent-dark: 111, 128, 0;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html,
	body {
		font-family: Inter, sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		background: #010101;
		background-size: 224px;
		box-sizing: border-box;
		overflow-x: hidden;
		margin: 0;
	}
	::selection,
	::-moz-selection {
		background-color: #DFFF00;
		color: black;
	}
	a {
		color: white;
		text-decoration-color: rgb(var(--accent));
		text-decoration-thickness: .1rem;
		transition: all 100ms;
	}
	a:hover,
	a:focus {
		color: rgb(var(--accent-light));
		text-decoration-thickness: .2rem;
	}
</style>
